/*   <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: auto;
  max-width: 75%;
  height: 85vh;
  border: 3px solid green;
  padding: 10px;
}

article {
  margin: auto;
  width: 600px;
  text-align: center;
}

/* four card section styles */
#four-card-section-container {
  display: flex;
  align-items: center;
  height: 100px;
}

/* Supervisor */
#supervisor-card {
  border: none;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
  height: 170px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 200px;
  width: 270px;
  padding: 10px;
}

#supervisor-icon {
  float: right;
}

#supervisor-icon img {
  margin-top: 40px;
  margin-right: 15px;
  width: 45px;
}

/*center */

#center-cards {
  height: 200px;
  margin-top: 150px;
}
#team-builder-card {
  border: 3px solid pink;
  margin-bottom: 20px;
  width: 300px;
  height: 170px;
  padding: 10px;
}
#builder-icon {
  float: right;
}
#builder-icon img{
  margin-top: 40px;
  margin-right: 15px;
  width: 45px;
}

#karma-card {
  border: 3px solid purple;
  margin-top: 20px;
  width: 300px;
  height: 170px;
  padding: 10px;
}

/*ca;culator */

#calculator-card {
  border: 2px solid red;
  height: 200px;
  margin-top: 200px;
  margin-left: 20px;
  width: 300px;
}
